<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Cadastro de Funcionário</h1>

    <form action="/salvar" method="post">
        <label for="">Nome</label>
        <input type="text" name="nome" required>

        <br>
        <br>

        <label for="">Email:</label>
        <input type="text" name="email" required>

        <br>
        <br>

        <label for="">RF:</label>
        <input type="text" name="id" required>

        <br>
        <br>

        <button type="submit">Enviar</button>

    </form>


    <% if(mensagem) { %>
        <p style="color: green;" ><%= mensagem %></p>
        <% }  %>
</body>

</html>